.header {
	background-color: var(--mantine-color-pri-9);
	color: var(--mantine-color-pri-0);
}

.link {
	color: var(--mantine-color-pri-0);
}

.icon {
	background-color: var(--mantine-color-pri-0);
	color: var(--mantine-color-pri-9);
}
